@model ICollection<WarnerMedia.Models.Dto.TitleDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joseph Lebold's Movie Sifter</h1>
    <h4>Click on your favorite film to view more details!</h4>
</div>

<table id="indexTable" class="table table-striped table-bordered table-sm table-dark table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                Title Id
            </th>
            <th class="th-sm">
                Title Name
            </th>
            <th class="th-sm">
                Title Name (Sortable)
            </th>
            <th class="th-sm">
                Release Year
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var title in Model)
        {
            <tr class="clickable" onclick="location.href = '@(Url.Action("TitleDetail", "Home", title ))'">
                <td>@title.TitleId</td>
                <td>@title.TitleName</td>
                <td>@title.TitleNameSortable</td>
                <td>@title.ReleaseYear</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                Title Id
            </th>
            <th>
                Title Name
            </th>
            <th>
                Title Name (Sortable)
            </th>
            <th>
                Release Year
            </th>
        </tr>
    </tfoot>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#indexTable').DataTable();
        });
    </script>
}
